# Pre-processing 01

In [10]:
import numpy as np
import pandas as pd

In [16]:
dataset = pd.read_csv('../dataset/influencer_dataset.csv')
print("Numero di esempi: ", len(dataset))

Numero di esempi:  11905

In [17]:
dataset['target'].value_counts()

standard    11731
paid          174
Name: target, dtype: int64

#### Aggiungo come post sponsorizzati quelli che contengono come hashtag `adv`, `ad` etc.

In [18]:
mask = dataset['hashtag'].str.lower().str.contains("'#adv'|'#ad'|'#sponsored'|'#supplied'")
column_name = 'target'
dataset.loc[mask, column_name] = 'paid'
# dataset.loc[mask_adv | mask_sponsored | mask_supplied, column_name] = 'paid'

In [19]:
dataset.loc[2494,:][4], dataset.loc[2494,:][11]

("['#ADLab', '#ADFoundation', '#HereIGrow', '#JustAKidfromChicago']",
 'standard')

In [20]:
dataset.loc[7965,:][4], dataset.loc[7965,:][11]

("['#adidasxIVYPARK']", 'standard')

In [21]:
dataset.loc[2851,:][4], dataset.loc[2851,:][11]

("['#chiarawearscalzedonia', '#calzedonia', '#adv']", 'paid')

In [22]:
dataset.loc[3640,:][4], dataset.loc[3640,:][11]

("['#clearstartpartner', '#AD']", 'paid')

In [23]:
dataset.loc[3119,:][4], dataset.loc[3119,:][11]

("['#SmellLikeYourOwnManMan', '#AvailableAtWalmart', '#sponsored']", 'paid')

In [24]:
dataset.loc[2855,:][4], dataset.loc[2855,:][11]

("['#supplied']", 'paid')

In [25]:
dataset.loc[2866,:][4], dataset.loc[2866,:][11]

("['#VerizonInnovativeLearning.', '#STEM', '#ad']", 'paid')

In [26]:
dataset['target'].value_counts()

standard    11645
paid          260
Name: target, dtype: int64

#### Sostituisco gli array `hashtag` e `tag` con la lunghezza dei diversi array

In [27]:
from ast import literal_eval
dataset['hashtag'] = dataset['hashtag'].apply(lambda x: len(literal_eval(str(x))))
dataset['tag'] = dataset['tag'].apply(lambda x: len(literal_eval(str(x))))
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,Obrigado pelo carinho de sempre a todos que ac...,False,1582322398,1043,386524,standard
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,‚ÄúAlgumas pessoas querem que algo aconte√ßa outr...,False,1582141911,1564,522107,standard
2,2,viniciusjunior,NaN,9012479,2,4,Mi amigo y yo llevamos el equipo a las calles ...,True,1581615465,395,179341,standard
3,3,viniciusjunior,NaN,9012479,0,0,üí™üèæ,True,1581532095,2303,380096,standard
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,Day off üèÑüèº‚Äç‚ôÇÔ∏è tava pro surf das ondas gigantes...,False,1581440777,895,387117,standard

#### Sostituisco l'array  `caption` con la relativa lunghezza

In [28]:
dataset.loc[0,:]['caption']

'Obrigado pelo carinho de sempre a todos que acompanham minha evolu√ß√£o Desde quando voc√™s me seguem üòâ‚úÖ ¬°Gracias por el cari√±o de siempre a todos los que siguen mi evoluci√≥n Desde cuando me sigues üòâ‚úÖ Thanks for the affection of all who see my evolution How long have you followed me üòâ‚úÖ'

In [29]:
dataset['caption'] = dataset['caption'].apply(lambda x: len(str(x).split(' ')))
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,False,1582322398,1043,386524,standard
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,False,1582141911,1564,522107,standard
2,2,viniciusjunior,NaN,9012479,2,4,16,True,1581615465,395,179341,standard
3,3,viniciusjunior,NaN,9012479,0,0,1,True,1581532095,2303,380096,standard
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,False,1581440777,895,387117,standard

#### Transformo le feature booleane `is_video` e `target` in valori numerici

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
label1 = LabelEncoder()
dataset['is_video'] = label1.fit_transform(dataset['is_video'])
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,0,1582322398,1043,386524,standard
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,0,1582141911,1564,522107,standard
2,2,viniciusjunior,NaN,9012479,2,4,16,1,1581615465,395,179341,standard
3,3,viniciusjunior,NaN,9012479,0,0,1,1,1581532095,2303,380096,standard
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,0,1581440777,895,387117,standard

In [32]:
# standard = 1
#¬†paid = 0
label2 = LabelEncoder()
dataset['target'] = label2.fit_transform(dataset['target'])
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,0,1582322398,1043,386524,1
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,0,1582141911,1564,522107,1
2,2,viniciusjunior,NaN,9012479,2,4,16,1,1581615465,395,179341,1
3,3,viniciusjunior,NaN,9012479,0,0,1,1,1581532095,2303,380096,1
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,0,1581440777,895,387117,1

#### Normalizzo il `n_likes` e `n_comment` in base al `followed_by`

In [33]:
dataset['n_comment'] = dataset['n_comment'] / dataset['followed_by']
dataset['n_likes'] = dataset['n_likes'] / dataset['followed_by']
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,0,1582322398,0.000116,0.042888,1
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,0,1582141911,0.000174,0.057932,1
2,2,viniciusjunior,NaN,9012479,2,4,16,1,1581615465,0.000044,0.019899,1
3,3,viniciusjunior,NaN,9012479,0,0,1,1,1581532095,0.000256,0.042174,1
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,0,1581440777,0.000099,0.042953,1

In [34]:
dataset.loc[9284]

index                      7
username        louisvuitton
photo_id       louisvuitton7
followed_by         37358071
hashtag                    1
tag                        0
caption                   19
is_video                   0
timestamp         1582188609
n_comment        4.52379e-06
n_likes           0.00191945
target                     1
Name: 9284, dtype: object

#### Gestione `timestamp` in modo da ottenere il giorno di pubblicazione del post

In [35]:
from datetime import datetime

In [38]:
# Esempio
datetime.fromtimestamp(1582322398).weekday()

4

In [21]:
dataset['timestamp'] = dataset['timestamp'].apply(lambda x: datetime.fromtimestamp(x).weekday())
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,timestamp,n_comment,n_likes,target
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,0,4,0.000116,0.042888,1
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,0,2,0.000174,0.057932,1
2,2,viniciusjunior,NaN,9012479,2,4,16,1,3,0.000044,0.019899,1
3,3,viniciusjunior,NaN,9012479,0,0,1,1,2,0.000256,0.042174,1
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,0,1,0.000099,0.042953,1

### Binarizzazione della feature timestamp

In [22]:
# drop_first = True per rimuovere una delle colonne, in quanto se ho n valori categorici mi basta creare n-1 nuove feature
dataset = pd.get_dummies(dataset, drop_first=True, columns=['timestamp'])
dataset.head()

,index,username,photo_id,followed_by,hashtag,tag,caption,is_video,n_comment,n_likes,target,timestamp_1,timestamp_2,timestamp_3,timestamp_4,timestamp_5,timestamp_6
0,0,viniciusjunior,viniciusjunior0,9012479,0,0,52,0,0.000116,0.042888,1,0,0,0,1,0,0
1,1,viniciusjunior,viniciusjunior1,9012479,0,0,44,0,0.000174,0.057932,1,0,1,0,0,0,0
2,2,viniciusjunior,NaN,9012479,2,4,16,1,0.000044,0.019899,1,0,0,1,0,0,0
3,3,viniciusjunior,NaN,9012479,0,0,1,1,0.000256,0.042174,1,0,1,0,0,0,0
4,4,viniciusjunior,viniciusjunior4,9012479,0,1,26,0,0.000099,0.042953,1,1,0,0,0,0,0

In [23]:
#¬†axis = 1 perch√® guardo alle colonne
dataset = dataset.drop(labels=['index', 'username', 'photo_id', 'followed_by'], axis = 1)

In [24]:
dataset.head()

,hashtag,tag,caption,is_video,n_comment,n_likes,target,timestamp_1,timestamp_2,timestamp_3,timestamp_4,timestamp_5,timestamp_6
0,0,0,52,0,0.000116,0.042888,1,0,0,0,1,0,0
1,0,0,44,0,0.000174,0.057932,1,0,1,0,0,0,0
2,2,4,16,1,0.000044,0.019899,1,0,0,1,0,0,0
3,0,0,1,1,0.000256,0.042174,1,0,1,0,0,0,0
4,0,1,26,0,0.000099,0.042953,1,1,0,0,0,0,0

dataset.to_csv('./dataset-processed/pre-processed-01.csv', index=False)